@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display+SC:ital@1&display=swap');
body {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  font-family: 'Caveat', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
